.*.swn
.*.swo
.*.swp
.~*
.bloop
.bsp
.cache
.classpath
.DS_store
.idea
.idea_modules
.metadata
.metals
.project
.target
.vscode/
*.bak
*.err
*.log
*.out
*.pid
*.tmp
~*
project/.sbtboot/
project/metals.sbt
target
